   @charset "utf-8";
   body {
   font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    .media-heading{
    font-size: 26px;
    }
    .tab-h2{
    font-size: 10px;
    }

    .info-content h4 {
        font-size: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
    .media-heading{
    font-size: 28px;
    }
    .tab-h2{
    font-size: 20px;
    }   
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    .media-heading{
    font-size: 30px;
    }
    .tab-h2{
    font-size: 30px;
    }
}

#footer{
	color: #666;
	background-color: #eee;
	border-top: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

.tab2{
	background-color: #eee;
	padding: 60px 40px;
}

.tab3{
	padding: 40px 40px;
}

.tab2 img{
	width: 40%;
	height: 40%
}

.tab3 img{
	width: 65%;
	height: 65%
}

.tab2-text{
	margin-top: 70px;
	text-align: center;
}

.jumbotron{
	background-color:black; 
	margin:50px 0 0 0;
	color: #ccc;
}

#information{
    background-color: #eee;
    padding: 40px 0;
}

#footer{
    background-color: #666;
    color: #eee;
}

.info-content{
    background-color: #fff;
    margin:0 0 20px 0;
    box-shadow: 2px 2px 3px #ccc;

}

.info-content{
    margin:12px 0;

}

.info-content img{
    padding:12px 0px;

}

.info-right {
    background-color: #fff;
    box-shadow: 2px 2px 3px #ccc;
    margin-top: 12px;
}

.info-content h4 {
    font-size: 20px;
    padding: 4px 0 0 0;
}

.info-right blockquote {
    padding: 0;
    margin: 0;
}

.info-right {
    background-color: #fff;
    box-shadow: 2px 2px 3px #ccc;
}

.info-right h2 {
    font-size: 20px;
    padding: 5px;
}

.thumbnail{
    margin-top: 20px;
    padding: 10px;
    box-shadow: 2px 3px 2px #ccc;
    border: 3px;
}

#case {
    padding: 40px 0;
    text-align: center;
    background-color: #eee;
}

#about {
    padding: 40px 15px;
    background-color: #eee;
}
#about .about {
    background-color: #fff;
    box-shadow: 2px 2px 3px #ccc;
    padding-bottom: 20px;
}

.about h3{
    border-bottom: 1px solid #eee;
    padding: 10px;
    padding-top: 2px;
}